service:
  port: 80
  protocol: http

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingressClass }}
  hosts:
    - host: dashboard.{{ .Values.domain }}
  tls: 
    - secretName: wt-dashboard-tls
      hosts:
        - dashboard.{{ .Values.domain }}

girderApiUrl: https://girder.{{ .Values.domain }}/api/v1
