mongodbUri: "mongodb://mongodb:27017/girder"
image: xarthisius/girder@sha256:55d756f0db7163e28f9009618532a4d107ab8dc44efdcd2cfcf6794a7d20273d

service:
  port: 8080
  protocol: http

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingressClass }}
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/client-body-buffer-size: 4096M
    nginx.ingress.kubernetes.io/proxy-body-size: 4096M
  hosts:
    - host: girder.{{ .Values.domain }}


persistence:
  enabled: true
  accessMode: {{ .Values | get "accessMode" "ReadWriteMany" }}
  existingClaim: materials-portal-01
  subPath: girder

development: {{ .Values | get "development" false }}
domain: {{ .Values.domain }}
