mongodbUri: "mongodb://mongodb:27017/girder"

service:
  port: 8080
  protocol: http

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingressClass }}
  hosts:
    - host: girder.{{ .Values.domain }}
  tls: 
    - secretName: wt-girder-tls
      hosts:
        - girder.{{ .Values.domain }}

persistence:
  enabled: true
  name: girder-data
  storageClass: manual
  volumeName: girder-data

development: {{ .Values | get "development" false }}
