repo2dockerVersion: wholetale/repo2docker_wholetale@sha256:9ab44e13112c7f16174d6a4a1b65ebe9df95b130d73b9cdabd52ecb0c2ed4a7e
domain: {{ .Values | get "domain" "local.wholetale.org" }}
development: {{ .Values | get "development" false }}
ingressClass: {{ .Values | get "ingressClass" "traefik" }}
girderFSMountType: {{ .Values | get "girderFSMountType" "direct" }}
