image: xarthisius/girder@sha256:7d36d3e6cc64a73baaa3de9d64d95ccbe44143a2a3a190685989ed84c6434f0d
mongodbUri: "mongodb://mongodb:27017/girder"
persistence:
  enabled: true
  accessMode: {{ .Values | get "accessMode" "ReadWriteMany" }}
  existingClaim: materials-portal-01
  subPath: girder

development: {{ .Values | get "development" false }}
domain: {{ .Values.domain }}
