global:
  namespaceOverride: imqcam
  imagePullSecrets:
    - name: xarth-dockerhub-creds

namespaceOverride: imqcam

auth:
  enabled: false
serviceAccount:
  create: false
networkPolicy:
  enabled: false

resources:
  limits:
    cpu: 750m
    ephemeral-storage: 100Mi
    memory: 768Mi
  requests:
    cpu: 500m
    ephemeral-storage: 50Mi
    memory: 512Mi

priorityClassName: reserved

{{if eq .Environment.Name "jhu"}}
persistence:
  enabled: true
  name: mongo-data
  existingClaim: materials-portal-01
  subPath: mongodb
  accessMode: ReadWriteOnce
  path: /bitnami/mongodb
  size: 32Gi
  annotations: {}
{{end}}
