global:
  imagePullSecrets:
    - name: xarth-dockerhub-creds

image:
  tag: 7.0.28

auth:
  enabled: false
serviceAccount:
  create: false
networkPolicy:
  enabled: false

resources:
  limits:
    cpu: 750m
    ephemeral-storage: 100Mi
    memory: 2Gi
  requests:
    cpu: 500m
    ephemeral-storage: 50Mi
    memory: 2Gi

priorityClassName: reserved

livenessProbe:
  enabled: false

{{if eq .Environment.Name "jhu"}}
persistence:
  enabled: true
  name: mongo-data
  existingClaim: materials-portal-01
  subPath: mongodb/data/db
  accessMode: ReadWriteOnce
  mountPath: /data/db
  size: 32Gi
  annotations: {}
{{end}}
