ingress:
  enabled: true
  className: {{ .Values.ingressClass }}
  hosts: 
    - registry.{{ .Values.domain }}
  {{- if .Values.ingress.annotations }}
  annotations:
     {{- with .Values.ingress.annotations }}
     {{- . | toYaml | nindent 4 }}
     {{- end }}
  {{- end}}

secrets:
  htpasswd: fido:$2y$05$97Z.r3atRzkXd1pA8tm4pOjV1rIksBI4DOv8S5xH0GsWuf48M2pBq

priorityClassName: reserved

resources:
  limits:
    cpu: 750m
    ephemeral-storage: 1Gi
    memory: 4Gi
  requests:
    cpu: 500m
    ephemeral-storage: 1Gi
    memory: 4Gi

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  privileged: false
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  enabled: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  capabilities:
    drop: ["ALL"]

persistence:
  enabled: true
  storageClass: ""
  existingClaim: materials-portal-01
  subPath: registry
  accessMode: {{ .Values | get "accessMode" "ReadWriteMany" }}
  deleteEnabled: true
